#ipad {
   position: absolute;
   top: 37%;
   left: 45%;
   width: 600px;
   height: 770px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
   background-image: url('../images/ipad_transparency.png');
   background-size: 100% auto;
}


/* this nested in the ipad and values based on the size of the ipad image */
#ipad_background {
   position: absolute;
   top: 9.8%;
   left: 11.5%;
   width: 77.5%;
   height: 80.8%;
   background-color: lightblue;
}

#header_bar {
  background-color:#F0F0FF;
  height:10%;
  width:100%;
}

#bookmarks_bar {
  background-color:#F0F0FF;
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
}

/* These have color for now just to visualize how big they are */
#right_bar {
  background-color:#F0F0FF;
  position: absolute;
  right: 0;
  height: 90%;
  width: 5%;
}

#left_bar {
  background-color:#F0F0FF;
  position: absolute;
  left: 0;
  height: 90%;
  width: 5%;
}

/* This prevents the user from highlighting any part of the page */
#main {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#test {
   position: absolute;
   top: 90%;
   left: 90%;
   width: 300px;
   height: 300px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
   background-color: lightblue;
}
