#ipad {
   position: absolute;
   top: 37%;
   left: 45%;
   width: 600px;
   height: 770px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
   background-image: url('../images/ipad_transparency.png');
   background-size: 100% auto;
}

/* this nested in the ipad and values based on the size of the ipad image */
#ipad_background {
   position: absolute;
   top: 9.8%;
   left: 11.5%;
   width: 77.5%;
   height: 80.8%;
   background-color: lightblue;
}

#main_page {
  visibility: visible;
  position: absolute;
  bottom: 0; 
  height:90%;
  width:100%;
}

#header_bar {
  background-color:#F0F0FF;
  height:10%;
  width:100%;
}

.book_img {
	width: 100px;
	height: auto;	
	display: block;
	margin: auto;
	margin-top: 40px;
}

#add_book_button{
	margin: auto;
	margin-top: 40px;
	text-align: center;
}

#book0 {
	height: 50%;
	width: 50%;
	float: left;
	overflow: hidden;
}
#book1 {
	height: 50%;
	width: 50%;
	float: right;
	overflow: hidden;
}
#book2 {
	height: 50%;
	width: 50%;
	overflow: hidden;
	float: left;
}
#book3{
	height: 50%;
	width: 50%;
	overflow: hidden;
	float: right;	
}

#header_title {
  display: block;
  text-align: center;
}

#home_button {
  text-align: left;
  display: inline;
  float: left, top;
  margin: 0;
}

#settings_button {
  text-align: right;
  display:inline;
  float: right;
  margin: 0;
 }

#bookmarks_bar {
  visibility: hidden;
  background-color:#F0F0FF;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  text-align: center;
}

/* These have color for now just to visualize how big they are */
#right_bar {
  visibility: hidden;
  background-image: url('../images/book_pages.jpg');
  position: absolute;
  right: 0;
  top: 10%;
  height: 85%;
  width: 5%;
}

#left_bar {
  visibility: hidden;
  background-color:#F0F0FF;
  position: absolute;
  left: 0;
  top: 10%;
  height: 85%;
  width: 5%;
}

#book_page {
  visibility: hidden;
  position: absolute;
  left: 5%;
  width: 90%;
  height: 85%;
}

/* This prevents the user from highlighting any part of the page */
#main {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#test {
   position: absolute;
   top: 90%;
   left: 90%;
   width: 300px;
   height: 300px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
   background-color: lightblue;
}
