#ipad {
   position: absolute;
   top: 37%;
   left: 45%;
   width: 600px;
   height: 770px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
   background-image: url('../images/ipad_transparency.png');
   background-size: 100% auto;
}

/* this nested in the ipad and values based on the size of the ipad image */
#ipad_background {
   position: absolute;
   top: 9.8%;
   left: 11.5%;
   width: 77.5%;
   height: 80.8%;
   background-color: #FFFFFF;
}

#main_page {
  visibility: visible;
  position: absolute;
  z-index:0;
  bottom: 0; 
  height:90%;
  width:100%;
}

#header_bar {
  background-color:#E8E8E8;
  height:10%;
  width:100%;
}

.icons {
  max-width: 500px;
  height: 80px;
  margin: -20px;
  margin-bottom: -40px;
}

#search {
/*	float: right;  */
}

#search_div {
  float: right;
}

#search_field {
}

.book_content_on_bar {
  margin: 10px;
  font-family: "Verdana", sans-serif;
  font-size: 8px;
  display: inline-block;
}

.bookmark_preview {
  width: auto;
  height: auto;
}

#bookmark {

}

#bookmark1, #bookmark2, #bookmark3, #bookmark4 {
/*  visibility: hidden;*/
  display: none;
  position: relative;
  top: 10%;
  float: left;
  width: 20px;
  height: 100%;
  background: url('../images/bookmark_preview.png') no-repeat;
  background-size:contain;
  overflow: hidden;
  margin: 0px;
}

#bookmark1 {
  left: 10%;
}

#bookmark2 {
/*  visibility: hidden;*/
  display: none;
  left: 30%;
}

#bookmark3 {
/*  visibility: hidden;*/
  display: none;
  left: 50%;
}

#bookmark4 {
/*  visibility: hidden;*/
  display: none;
  left: 70%;
}

.progress_indicator {
	visibility: hidden;
	position: relative;
	width: 5px;
	background-color: red;
	height: 80%;
	left: 40%;
	top: 0;
}


.book_img {
	width: 95px;
	height: 140px;	
	display: block;
	margin: auto;
	margin-top: 25px;
	border: 1px solid #AAAAAA;
	padding: 1px;
}

.book_title {
	text-align: center;
	margin: 6px;
	padding-top: 8px;
  font-family: "Verdana", sans-serif;
}

.book_author {
	text-align: center;
	margin: 4px;
  font-family: "Verdana", sans-serif;
}

#book0 {
	height: 50%;
	width: 50%;
	float: left;
	overflow: hidden;
}
#book1 {
	height: 50%;
	width: 50%;
	float: right;
	overflow: hidden;
}
#book2 {
	height: 50%;
	width: 50%;
	overflow: hidden;
	float: left;
}
#book3{
	height: 50%;
	width: 50%;
	overflow: hidden;
	float: right;	
}

#header_title {
  text-align: center;
  font-family: "Verdana", sans-serif;
  font-size: 24px;
}

#home_button {
  text-align: left;
  display: inline;
  float: left, top;
  margin: 10px;
  width: 40px;
  height: auto;
}

#settings_button {
  text-align: right;
  display:inline;
  float: right;
  margin: 10px;
  width: 40px;
  height: auto;
 }

#home_button_div {
	width: 20%;
	height: 100%;
	float: left;
	overflow: hidden;
}

#header_title_div {
	width: 60%;
	height: 100%;
	overflow: hidden;
	display: inline-block;
	}
 
#settings_button_div {
	width: 20%;
	height: 100%;
	float: right;
	overflow: hidden;
}
 
#bookmarks_bar {
  opacity: 0;
  background-color:#F0F0FF;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  text-align: center;
}

/* These have color for now just to visualize how big they are */
#right_bar {
  visibility: hidden;
  background-image: url('../images/book_pages.jpg');
  position: absolute;
  right: 0;
  top: 10%;
  height: 90%;
  width: 5%;
}

#left_bar {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 10%;
  height: 90%;
  width: 5%;
}

#settings_page {
  visibility: hidden;
  position:absolute;
  z-index:10;
  height:35%;
  width: 35%;
  top: 9%;
  right: 3px;
  margin-right: 2px;
  font-family: "Verdana", sans-serif;
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  text-align: center;
}

#book_page {
  visibility: hidden;
  position: absolute;
  left: 5%;
  width: 90%;
  height: 90%;
  bottom: 0;
}

#book_content {
  margin: 16px;
  margin-bottom: 24px;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
}

#book_content span {
  background-color:#FF9;
  color:#555;
}

.p_content {
	display: none;
}

.p_content p {
	margin-bottom: 16px;
	padding: 0;
}
.verse
{
  text-align: center;
}

#p1_content {
	display: block;
}

#page_number {
  text-align: center;
  font-family: "Georgia", serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  }

/* This prevents the user from highlighting any part of the page */
#main {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

